article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio[controls],canvas,video{display:inline-block;*display:inline;zoom:1;}
html{font-size:100%;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{background:#FFF;color:#666;line-height:1;font-size:12px;height:auto;margin:0;min-height:100%;min-width:938px;position:relative;}
body,button,input,select,textarea{font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
img{margin:0;vertical-align:top;border:0;-ms-interpolation-mode:bicubic;}
embed,object{outline:none;}
a{color:#666;outline:none;text-decoration:none;}
a:hover,a:active{outline:0;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
p{margin:0;padding:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
blockquote{margin:1em 40px;quotes:none;border-left:1px solid #CCCCCC;font-style:italic;margin-left:2em;padding:1.5em;margin-bottom:1.5em;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;_font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:12px;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;margin:0 0 1.5em;border-left:1px solid #CCCCCC;margin-left:2em;padding-left:2em;}
q{quotes:none;font-style:italic;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul{list-style:none;margin:0;padding:0;}
figure{margin:0;}
form{margin:0;}
fieldset,legend{background:transparent;border:0;margin:0;outline:0;padding:0;}
legend{*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;padding:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;*overflow:visible;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;outline:none;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.fleft{float:left;}
.fright{float:right;}
.clear{clear:both;}
